#top {
    margin-top: 90px;
    padding: 24px;
}
#top h1 {
    font-size: 56px;
}

#dotaznik {
    padding: 8px 0px;
}
#dotaznik h2 {
    padding-bottom: 4px;
    font-size: 24px;
}
#dotaznik input{
    margin-bottom: 16px;
}
#dotaznik input[type=radio]{
    margin: 0;
    /*make it as card maybe*/
}

button{
    color: var(--background);
    background-color: rgba(0, 0, 0, 0.1);
    border: solid;
    border-width: 2px;
    border-radius: 4px;
    margin-top: 8px;
    padding: 8px 16px;
    /*transition: 0.3s;*/
}
button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
button:disabled{
    display: none;
}

button[type=submit]{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    padding: 4px 8px;
    border-radius: 4px;
    /*transition: 0.3s;*/
}
button[type=submit]:hover{
    color: white;
    border: 2px solid black;
    background-color: rgba(0,0,0, 0.5);
}

#print {
    display: none;
}

#dotaznik-typ {
    display: inline;
}
#dotaznik-kv {
    display: none;
}
#dotaznik-n {
    display: none;
}
#dotaznik-h {
    display: none;
}
#dotaznik-b {
    display: none;
}
#dotaznik-l {
    display: none;
}
#dotaznik-rameno {
    display: none;
}
#dotaznik-rameno1 {
    display: none;
}
#dotaznik-rameno2 {
    display: none;
}
#dotaznik-podesta {
    display: none;
}
#dotaznik-medzipodesta {
    display: none;
}
#dotaznik-l-jednoramenne {
    display: none;
}
#dotaznik-l-dvojramenne {
    display: none;
}
#dotaznik-alfa {
    display: none;
}
#dotaznik-h1 {
    display: none;
}
#dotaznik-h1-vyhovuje {
    display: none;
}
#dotaznik-h1-nevyhovuje {
    display: none;
}
#dotaznik-h2 {
    display: none;
}
#dotaznik-h2-vyhovuje {
    display: none;
}
#dotaznik-h2-nevyhovuje {
    display: none;
}
#printbutton {
    display: none;
}
#nadpis {
    display: none;
}
#nadpis-button {
    display: none;
}

.dotaznik-padding {
    padding-left: 16px;
    padding-bottom: 24px;
}


@media print{
    @page {
        margin: 0px;
    }
    * {
        margin: 0px;
        padding: 0px;
        font-size: 16pt;
        color: black;
        font-family: Calibri, sans-serif;
    }
    header, footer, aside, form, … {
        display: none;
    }
    body {
        margin: 1cm;
        font-size: 100%;
    }
    #top {
        display: none;
    }
    #top-button {
        display: none;
        height: 0px;
        width: 0px;
    }
    #top-button img{
        width: 0px;
        height: 0px;
    }
    #print {
        display: inline;
    }

    #print-jednoramenne {
        border: 0.5em;
    }
    #print-dvojramenne {
        border: 0.5em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    h2 span {
        font-size: 1em;
    }
    
    h3 {
        font-size: 1.3em;
    }
    h3 span {
        font-size: 1em;
    }

    .white {
        color: white;
        -webkit-print-color-adjust: exact;
    }
    .white span {
        color: white;
        -webkit-print-color-adjust: exact;
    }

    .print-element {
        margin-bottom: 0.3em;
    }

}