#top {
    margin-top: 90px;
    padding: 24px;
}
#top h1 {
    font-size: 56px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

button {
    background-color: rgba(0, 0, 0, 1);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.33);
}
