#top {
    margin-top: 90px;
    padding: 24px;
}
#top h1 {
    font-size: 56px;
}

#dotaznik {
    padding: 8px 0px;
}
#dotaznik h2 {
    padding-bottom: 4px;
    font-size: 24px;
}
#dotaznik input{
    margin-bottom: 16px;
}
#dotaznik input[type=radio]{
    margin: 0;
    /*make it as card maybe*/
}
#dotaznik button[type=submit]:disabled{
    display: none;
}


#dotaznik-typ {
    display: inline;
}
#dotaznik-kv {
    display: none;
}
#dotaznik-n {
    display: none;
}
#dotaznik-h {
    display: none;
}
#dotaznik-b {
    display: none;
}
#dotaznik-l {
    display: none;
}
#dotaznik-l-jednoramenne {
    display: none;
}
#dotaznik-l-dvojramenne {
    display: none;
}
#dotaznik-alfa {
    display: none;
}
#dotaznik-h1 {
    display: none;
}
#dotaznik-h1-vyhovuje {
    display: none;
}
#dotaznik-h1-nevyhovuje {
    display: none;
}
#dotaznik-h2 {
    display: none;
}
#dotaznik-h2-vyhovuje {
    display: none;
}
#dotaznik-h2-nevyhovuje {
    display: none;
}

.dotaznik-padding {
    padding-left: 16px;
    padding-bottom: 24px;
}