* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background: #000;
    --color1: #20BDFF;
    --color2: #5433FF;
    --color3: #8EDEFF;
    --gray: rgb(20, 20, 20);
    --midgray: rgb(50, 50, 50);
    --lightgray: rgb(200, 200, 200);
    --gradient: linear-gradient(to right, var(--color1), var(--color2));
    --gradient-rev: linear-gradient(to left, var(--color1), var(--color2));
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.black-background {
    background-color: var(--background);
}
.gray-background {
    background-color: var(--gray);
}
.gradient {
    background-image: var(--gradient)
}

.gradient-text {
    background-color: red;
    background-image: var(--gradient);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.logo {
    height: 34px;
}

.logo-plus {
    display: none;
}

.smile {
    height: 100%;
    width: 40px;
    transition: 0.5s ease;
    background-color: var(--gradient);
}

.smile:hover {
    transform: rotate(360deg) scale(1.2);
}

.smile-plus {
    display: none;
}

.smile-plus:hover {
    transform: scale(1.2);
}

.button-arrow {
    background-color: red;
    width: 24px;
    height: 24px;
}
.button-arrow div {
    width: 100%;
    height: 20%;
    background-color: white;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}


.center a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center h1 {
    font-size: 72px;
    padding: 40px 10px 0px 10px;
    color:white;
    transition: 0.3s ease;
}
.center h1:hover {
    color: var(--lightgray); 
}

.center p {
    padding: 10px 10px 0px 10px;
}


#top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px;    
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: var(--color3); /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    
}
#top-button:hover {
    background-color: var(--color1); /* Add a dark-grey background on hover */
}

#home {
    height: 100vh;
}
#about {
    height: 100vh;
}
#projects {
    color: var(--background);
}

#projects h1 {
    font-size: 72px;
    padding-bottom: 8px;
}
#projects h2 {
    font-size: 32px;
    padding-bottom: 8px;
}
#projects h3 {
    font-size: 24px;
    padding-bottom: 8px;
}

#projects div div {
    width: 100%;
}
#contact {
    height: 100vh;
}

#navrh-schodiska {
    background-color: rgba(0, 0, 0, 0.33);
    height: fit-content;
    padding: 24px;
}
#navrh-schodiska h2 {
    padding-bottom: 12px;
}
#navrh-schodiska ul {
    list-style-type:disc;
    padding-left: 20px;
}
#navrh-schodiska button {
    display: flex;
    justify-content: left;
    margin-top: 16px;
    background-color: var(--background);
}
#navrh-schodiska button:hover {
    background-color: var(--gray);
}
#navrh-schodiska a div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

#vypocet-zatazenia {
    background-color: rgba(0, 0, 0, 0.66);
    height: 50vh;
    padding: 24px;
}

#top {
    margin-top: 90px;
    padding: 24px;
}
#top h1 {
    font-size: 56px;
}

#dotaznik {
    padding: 8px 0px;
}
#dotaznik h2 {
    padding-bottom: 4px;
}
#dotaznik input{
    margin-bottom: 16px;
}




header {
    position: fixed;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    height: 90px;
    background-color: var(--background);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

nav ul li a{
    transition: all 0.3s ease 0s;
}

nav ul li a:hover{
    color: var(--color1);
}

main {
    margin-top: 0px;
}

main div {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 16px 20px;
}


footer p {
    padding-bottom: 5px;
    font-size: 18px;
}

footer a {
    color: var(--color1);
}
footer a:hover {
    color: var(--color2);
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    transition: 0.3s;
}


input[type=number]{
    border: none;
    color: black;
    padding: 4px;
}


















@media (main-width: 1000px) {
    
}

@media (max-width: 1000px) {
    .center{
        flex-direction: column;
        padding-top: 24px;
    }

    .center h1{
        padding: 80px 10px 0px 10px;
        font-size: 60px;
    }
}

@media (max-width:680px) {
    header {
        height: 180px;
        justify-content: space-evenly;
    }
    
    nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px ;
    }
    
    #home {
        padding-top: 140px;
        padding-bottom: 50px;
    }

    .center h1{
        font-size: 48px;
    }
    .center p {
        font-size: 18px;
    }

    .logo {
        display: none;
    }
    .logo-plus{
        display: flex;
        padding-bottom: 10px;
    }
    
    .smile {
        display: none;
    }

    .smile-plus {
        display: flex;
        padding-bottom: 10px;
    }
}











