* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s ease 0s;
}

:root {
    --background: #000;
    --color1: #20BDFF;
    --color2: #5433FF;
    --gray: rgb(20, 20, 20);
    --midgray: rgb(50, 50, 50);
    --lightgray: rgb(200, 200, 200);
    --gradient: linear-gradient(to right, var(--color1), var(--color2));

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.black-background {background-color: var(--background);}
.gray-background {background-color: var(--gray);}
.gradient {background-image: var(--gradient)}

/*div {width: 100%;height: 100%;}*/
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
a {font-size: 1em;}

/* Header fix */
*{scroll-margin-top: 5rem;}
main {margin-top: 5em;}


header {
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;  /* x-axis */
    align-items: center;  /* y-axis*/
    padding: 4em, 0em;
    z-index: 100;
}
header span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header span a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5em;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 1.25em;
}

header span a::after {
    content: "";
    background-image: var(--gradient);
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease;
}
header span a:hover::after{
    width: 100%;
}
#logo:hover::after{width: 0%;} /* Remove underline from logo */


#smile {transition: transform 0.5s ease;}
#smile:hover {transform: scale(1.1) rotate(360deg);}

#home {
    background-image: var(--gradient);
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#home .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
}
#home .projects p {
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.8);
}
#home h1 {
    font-size: 4em;
}
#home a {
    width: 30%;
    text-align: center;
}


#about {background-color: var(--gray); text-align: center;}
#about h1 {font-size: 4em; padding: 0.4em 0em;}
#about h2 {font-size: 2em; padding-bottom: 0.2em; padding-top: 0.15em;}

#projects {background-image: var(--gradient); text-align: center;}
#projects h1 {font-size: 4em; padding: 0.4em 0em;}
#projects h2 {font-size: 2em; padding-bottom: 0.2em; padding-top: 0.15em;}
#projects .lighter {margin-top: -0.5em; margin-bottom: 0.5em;}

#contact {background-color: var(--gray); text-align: center;}
#contact h1 {font-size: 4em; padding: 0.4em 0em;}
#contact h2 {font-size: 2em; padding-bottom: 0.2em; padding-top: 0.15em;}


#navrh-schodiska {background-color: rgba(0,0,0, 0.1); padding: 2em;}
#vypocet-zatazenia {background-color: rgba(0,0,0, 0.2); padding: 2em;}
#kvadraticke-rovnice {background-color: rgba(0,0,0, 0.3); padding: 2em;}
#odpisy {background-color: rgba(0,0,0, 0.4); padding: 2em;}


footer {
    padding: 1.255em;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
footer div:nth-child(even){
    text-align: right;
}
footer p {
    padding: 0.25em 0em;
}
footer a {
    color: var(--color1);
}
footer a:hover{
    color: var(--color2);
}



button {
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: all 0.1s ease;
}
button:hover {background-color: rgba(0, 0, 0, 0.15);}
button:active {background-color: rgba(0, 0, 0, 0.25);}
button a {
    width: 100%;
    height: 100%;
}

.light {font-size: 0.9em; color: rgba(255,255,255, 0.8);}
.lighter {font-size: 0.9em; color: rgba(255,255,255, 0.65);}

input {
    height: 2.5em;
    padding: 0.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border: white 2px solid;
    border-radius: 0.5em;
}
input:focus {background-color: rgba(0, 0, 0, 0.2);}
input:focus {outline:none; box-shadow: none;} /* Remove black 'border' */
::placeholder {color: rgba(255, 255, 255, 0.66); opacity: 0.66;} /* Chrome, Firefox, Opera, Safari 10.1+ */
:-ms-input-placeholder {color: rgba(255, 255, 255, 0.66);} /* Internet Explorer 10-11 */
::-ms-input-placeholder {color: rgba(255, 255, 255, 0.66);} /* Microsoft Edge */


/* Remove arrows from number input */
input::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
input[type=number] {-moz-appearance: textfield;} /* Firefox */
input::-webkit-outer-spin-button {appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
input[type=number] {appearance: textfield;} /* Firefox */


#top-button {
    display: none;
    position: fixed;
    bottom: -0.5em;
    /*left: 48.5%;*/
    left: calc(50% - 1.25em);
    width: 2.5em;
    height: 2.5em;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    border-radius: 100% 100% 0 0;
}
#top-button:hover{
    bottom: 0;
    background-color: rgba(200,200,200, 0.75);
    transform: scale(1.1);
}
#top-button img {
    width: 100%;
    height: auto;
    padding: 0;
}
