* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s ease 0s;
}

:root {
    --background: #000;
    --color1: #20BDFF;
    --color2: #5433FF;
    /*
    --color1: #1488cc;
    --color2: #2b32b2;
    */
    --gray: rgb(20, 20, 20);
    --midgray: rgb(50, 50, 50);
    --lightgray: rgb(200, 200, 200);
    --gradient: linear-gradient(to right, var(--color1), var(--color2));
}

.black-background {background-color: var(--background);}
.gray-background {background-color: var(--gray);}
.gradient {background-image: var(--gradient)}

/*div {width: 100%;height: 100%;}*/
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.3em;}
a {font-size: 1em;}

/* Header fix */
*{scroll-margin-top: 5rem;}
main {margin-top: 5em; min-height: calc(100vh - 5em); background-image: var(--gradient);}


header {
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;  /* x-axis */
    align-items: center;  /* y-axis*/
    padding: 4em, 0em;
    z-index: 100;
}
header span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header span a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5em;
    text-decoration: none;
    color: white;
    position: relative;
}
header span a::after {
    content: "";
    background-image: var(--gradient);
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease;
}
header span a:hover::after{
    width: 100%;
}
header span img{
    margin-right: 1.5em;
}

#smile {transition: transform 0.5s ease;}
#smile:hover {transform: scale(1.1) rotate(360deg);}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: calc(100vh - 5em);
    background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(0,0,0, 0.75)), url("/assets/images/background.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
#home p {font-family: 'Roboto Mono', monospace; font-weight: 300;}
#home img{width: 25em;}

#about {background-color: var(--gray); text-align: center;}
#about h1 {font-size: 4em; padding: 0.4em 0em;}
#about h2 {font-size: 2em; padding-bottom: 0.2em; padding-top: 0.15em;}
#about h3 {font-size: 1.5em; padding: 0.2em 0;}
#about p, #about span{font-family: 'Roboto Mono', monospace;}

#about>div{padding: 2em;}
#about hr {border:none; border-top: 1px var(--midgray) solid; margin: 0 1em;}
#about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
/*#about-container p, #about-container span{font-family: 'Roboto Mono', monospace;}*/
#about-container iframe{margin-top: 1em;}
#about-container>div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
#about-container>div:nth-child(2){text-align: center;}
.about-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}
.about-content:last-child{margin-bottom: 0;}
.about-content img{height: 2.5em;}
.about-content-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 0.75em;
}
.about-content-2 img{height: 1em; width: auto;}

#about .w1 {font-weight: 100}
#about .w2 {font-weight: 200}
#about .w3 {font-weight: 300}
#about .w4 {font-weight: 400}
#about .w5 {font-weight: 500}
#about .w6 {font-weight: 600}
#about .w7 {font-weight: 700}

#skills-container{
    background-image: linear-gradient(to right, rgba(0,0,0, 0.75), rgba(10,10,10, 0.9)), url("/assets/images/code/code3.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
#skills-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#skills-content>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
.progress{
    background-color: white;
    width: 50%;
    height: 1.5em;
    margin-top: 0.5em;
    border-radius: 0.25em;
}
.progress > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--color1);
    border-radius: 0.25em 0 0 0.25em;
}
.progress > div > p{
    color: black;
}
#contact{min-height: calc(100vh - 5em);}
#contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1em;
}
#email{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
#email h3{padding: 0;}
#email textarea{
    resize: vertical;
    width: 100%;
    height: 100%;
    min-height: 5em;
    background-color: var(--gray);
    padding: 0.5em;
    border-radius: 0.5em;
} 
#email select{
    width: 100%;
    background-color: var(--gray);
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 0.5em;
} 
#email select *{background-color: var(--midgray);}
#email button{
    width: 50%; 
    padding: 1em; 
    border: 1px white solid;
    border-radius: 1em;
}
#email button:hover{border-color: var(--color1);}

#contact {background-color: var(--gray); text-align: center;}
#contact h1 {font-size: 4em; padding: 0; padding-bottom: 0.5em;}
#contact h2 {font-size: 2em; padding-bottom: 0.2em; padding-top: 0.15em;}

#contact-container>div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5em;
    margin: 1em;
}
.contact-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
    border: 1px var(--midgray) solid;
    border-radius: 0.5em;
}
.contact-content:hover{border-color: var(--color1);}

.contact-content img{height: 2em;}
.contact-content p, 
.contact-content a, 
.contact-content span{font-family: 'Roboto Mono', monospace;}


#projects {background-image: var(--gradient); text-align: center;}
#projects h1 {font-size: 4.5em; padding-bottom: 0.4em;}
#projects h2 {font-size: 2.5em; padding-bottom: 0.2em; padding-top: 0.15em;}
#projects p {padding: 0.25em; color: rgba(255, 255, 255, 0.9);}
#projects .lighter {margin-top: -0.5em; margin-bottom: 0.5em; color: rgba(255,255,255, 0.5);}
#projects button {padding: 0.5em 2.5em; margin-top: 1em;}

#projects>div:nth-child(n+1) {min-height: 10vh; padding: 2em;}
#projects>div:nth-child(2){background-color: rgba(0, 0, 0, 0.1);}
#projects>div:nth-child(3){background-color: rgba(0, 0, 0, 0.2);}
#projects>div:nth-child(4){background-color: rgba(0, 0, 0, 0.3);}
#projects>div:nth-child(5){background-color: rgba(0, 0, 0, 0.4);}
#projects-nadpis{padding: 1em;}
.nedostupne, .nedostupne>span{
    color: rgba(255, 255, 255, 0.5) !important; 
}
.nedostupne::after{content: " - zatiaľ nedostupné";}




footer {
    padding: 1.255em;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
footer div:nth-child(even){
    text-align: right;
}
footer p {
    padding: 0.25em 0em;
}
footer a {
    color: var(--color1);
}
footer a:hover{
    color: var(--color2);
}



button {
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: all 0.1s ease;
}
button:hover {background-color: rgba(0, 0, 0, 0.15);}
button:active {background-color: rgba(0, 0, 0, 0.25);}
button a {
    width: 100%;
    height: 100%;
}

.light {font-size: 0.9em; color: rgba(255,255,255, 0.8);}
.lighter {font-size: 0.9em; color: rgba(255,255,255, 0.65);}

input {
    height: 2.5em;
    padding: 0.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border: white 2px solid;
    border-radius: 0.5em;
}
input:focus {background-color: rgba(0, 0, 0, 0.2);}
input:focus {outline:none; box-shadow: none;} /* Remove black 'border' */
::placeholder {color: rgba(255, 255, 255, 0.66); opacity: 0.66;} /* Chrome, Firefox, Opera, Safari 10.1+ */
:-ms-input-placeholder {color: rgba(255, 255, 255, 0.66);} /* Internet Explorer 10-11 */
::-ms-input-placeholder {color: rgba(255, 255, 255, 0.66);} /* Microsoft Edge */


/* Remove arrows from number input */
input::-webkit-outer-spin-button {appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;} /* Chrome, Safari, Edge, Opera */
input[type=number] {appearance: textfield;} /* Firefox */
input[type=number] {-moz-appearance: textfield;} /* Firefox */


#top-button {
    display: none;
    position: fixed;
    bottom: -0.5em;
    /*left: 48.5%;*/
    left: calc(50% - 1.25em);
    width: 2.5em;
    height: 2.5em;
    border: none;
    outline: none;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 0.5em;
    border-radius: 100% 100% 0 0;
}
#top-button:hover{
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    transform: scale(1.1);
}
#top-button img {
    width: 100%;
    height: auto;
    padding: 0;
}



@media (orientation: portrait){
    *{font-size: 32px;}
    #home{
        background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(0,0,0, 0.75)), url("/assets/images/background-mobile.jpg");
        background-position: center;
    }
    #about-container{grid-template-columns: 1fr;}
    #about-container>div:nth-child(1){gap: 1em;}

    #skills-content{grid-template-columns: 1fr 1fr;}

    #contact{min-height: auto;}
    #contact-container{grid-template-columns: 1fr;}
    #contact-container>div:nth-child(2){gap: 1em;}
}