:root {
    --boder: 1px white solid;
    --ATborder-radius: 1em; /* aftertable border radius */
}

main{background: var(--gradient); padding: 2em;}
h1 {font-size: 2.4em; padding-bottom: 0.6em;}
hr{
    display: block; height: 1px; border: 0;
    margin: 2em 0em; 
    border-top: 1px solid;
}

table{
    width: 100%; border: var(--boder); 
    border-collapse: collapse; 
    text-align: center;
}
td{
    border: var(--boder); 
    padding: 1em;
}

thead, tbody, tfoot {
    border-top: var(--boder);
    border-bottom: var(--boder);
}
input{
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
}
tfoot tr td:nth-child(1){
    text-align: left;
}
button{background-color: rgba(0, 0, 0, 0.25);}
button:hover{background-color: rgba(0, 0, 0, 0.375);}
button:active{background-color: rgba(0, 0, 0, 0.5);}

#plusrow td {padding: 0; height: 1em;}
#plusrow td button{
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.znacka {
    padding: 0.2em;
    width: 1ex;
}

.aftertable{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 1em;
}
.aftertable > div{
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px white solid;
    text-align: center;
}
.aftertable > div > div {
    width: 50%;
    height: 100%;
}


.aftertable > div:nth-child(1){border-top-left-radius: var(--ATborder-radius);}
.aftertable > div:nth-child(2){border-top-right-radius: var(--ATborder-radius);}
.aftertable > div:nth-child(3){border-bottom-left-radius: var(--ATborder-radius);}
.aftertable > div:nth-child(4){border-bottom-right-radius: var(--ATborder-radius);}




select{
    background-color: rgba(0,0,0, 0.1);
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 0.25em;
    width: 100%;
}
select *{
    background-color: var(--color1);
}


