:root {--boder: 1px white solid;}
main{background-image: var(--gradient); padding: 2em;}
h1 {font-size: 3em; text-align: center;}

table{
    width: 100%; 
    height: 100%;
    text-align: center;
}
td{padding: 1em;}


#inputtable{
    display: flex;
    flex-wrap: wrap;
}
#inputtable > div, #inputtable > p, #typ-odpisovania > p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#oc, #os{
    width: 10em;
}
#helptables-div{
    display: flex;
}
#helptables-div > table{
    border-collapse: collapse ;
    margin: 2em;
    width: 50%;
}
#helptables-div td{
    border: var(--boder);
}

#maintable{border: var(--boder);border-collapse: collapse;}
#maintable td{border: var(--boder);}

#submitbutton{
    margin-bottom: 1em;
    padding: 1em 8em;
    border-radius: 1em;
}
#resetbutton{
    margin-bottom: 1em;
    padding: 0.75em 4em;
    border-radius: 1em;
}

h1, p{padding-bottom: 0.5em;}
input{margin-bottom: 1em;}

/* Radio button as kinda 'cards' */
ul {list-style: none; padding-bottom: 1em;}
li {display: inline-block;}
input[type="radio"]{visibility:hidden;}
label {
    cursor: pointer; 
    padding: 1em; 
    border: 2px solid white;
    border-radius: 0.5em;
    background-color: rgba(0,0,0, 0.05);
}
input:hover + label {background-color: rgba(0,0,0, 0.125);}
input:checked + label {background-color: rgba(0,0,0, 0.2);}
input:disabled + label {color: rgba(255,255,255, 0.5); border: 2px solid rgba(255,255,255, 0.5); background-color: rgba(0,0,0, 0.1);}
