main{
    background-image: var(--gradient);
    padding: 3em;
}

#container{
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
}
#container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-div{
    background-color: var(--gray);
    width: 500px; 
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: monospace;
}

#main-div > button{
    border: 1px var(--midgray) solid;
    border-radius: 0;
    padding: 0;
    font-size: 3em;
}

span{font-size: 1em;}

#result{
    background-color: black;
    padding: 1em 1.5em;
    width: fit-content;
    border-radius: 0.5em;
    border: none;
}
#result:hover{background-color: rgb(10, 10, 10);}
#result:active{background-color: rgb(20, 20, 20);}
#result > h1{padding-bottom: 0.25em;}



