.casovaOsNadpis {
    text-align: center;
    padding-top: 1em;
}
.casovaOs {
    padding: 0 2em;
    margin: 3em auto 0 auto;
    max-width: 36em;
}

.casovaOsElement {
    max-width: 36.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
}

.casovaOsElement:nth-child(odd) {
    border-left: 2px var(--color6) solid;
    padding-left: 3em;
    left: 50%;
    transform: translateX(-1px);

}
.casovaOsElement:nth-child(even) {
    border-right: 2px var(--color6) solid;
    padding-right: 3em;
    right: 50%;
    transform: translateX(1px);
}

.casovaOsElement:nth-child(odd)::before,
.casovaOsElement:nth-child(even)::before {
    content: '';
    background: var(--color6);
    width: 3em;
    height: 2px;
    position: absolute;
    top: 50%;
}
.casovaOsElement:nth-child(odd)::before {
    left: 0;
}
.casovaOsElement:nth-child(even)::before {
    right: 0;
}


.casovaOsElement > div {
    border: 1px var(--color6) solid;
    padding: 1.5em;
    border-radius: 1em;
}

.casovaOsElement:nth-child(odd) > div::before,
.casovaOsElement:nth-child(even) > div::before {
    content: '';
    background: var(--color6);
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% + 1px));
    border-radius: 50%;
}
.casovaOsElement:nth-child(odd) > div::before {
    left: calc(-0.75em - 1px);
}
.casovaOsElement:nth-child(even) > div::before {
    right: calc(-0.75em - 1px);
}



.casovaOsElement > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.casovaOsElement span {
    color: var(--color7);
}

.casovaOsDatum {
    color: var(--color9);
    display: flex;

}

.casovaOsObrazky {
    display: grid;
    align-items: center;
    gap: 0.5em;
}

.casovaOsObrazok {
    padding-top: 1em;
    text-align: center;
}
.casovaOsObrazok img {
    width: 98%;
}
.casovaOsObrazok img:hover {
    width: 100%;
}

.casovaOsObrazok p {
    font-size: 0.9em;
    color: var(--color9);
}


@media only screen and (max-width: 900px) {
    .casovaOs {
        width: 100%;
        padding: 0 !important;
    }
    .casovaOs .casovaOsElement {
        width: 100%;
        left: 0;
        right: 0;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .casovaOsElement {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .casovaOs .casovaOsElement::before {
        width: 2px;
        height: 4em;
        top: -2em;
        left: 50%;
    }

    .casovaOs .casovaOsElement div::before {
        top: 0;
        left: 50%;
        transform: translateX(calc(-50% + 1px)) translateY(calc(-50% + 1px));
    }

    .casovaOsElement:last-child {
        padding-bottom: 0;
    }
}

*:has(.casovaOs.nooverflow) {
    overflow: hidden;
}