footer {
    padding: 1.255em;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
footer div:nth-child(even){
    text-align: right;
}
footer p {
    padding: 0.25em 0em;
}
footer a {
    color: var(--color1);
}
footer a:hover{
    color: var(--color2);
}

