footer {
    width: 100vw;
    padding: 1em 4em;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
footer div:nth-child(2){
    text-align: right;
}
footer p {
    padding: 0.5em 0;
}

footer a {
    color: var(--color7);
}
footer a:hover{
    color: var(--color8);
}

