.footer {
    width: 100vw;
    padding: 2em 2em;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition-duration: 0.1s;
}

.footer > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footerupdates {
    color: var(--color4);
    cursor: pointer;
    user-select: none;
    width: max-content;
    text-decoration: underline;
}
.footerupdates:hover {
    color: var(--color5);
    text-decoration: none;

}
.footerupdates:active {
    color: var(--color6);
    text-decoration: none;
}

.footerdruhacast {
    align-items: flex-end;
}
.footerobrazky {
    display: flex;
    gap: 0.75em;
}

.footerobrazky img {
    height: 1.25em;
}

.footertechnologie {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.footertechnologie svg {
    height: 1.25em;
}
