@media only screen and (max-width: 900px) {
    .phone {
        display: inherit !important;
    }

    .footerphone {
        background-color: var(--color1);
        padding: 1em;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
    }
    .footerphone img,
    .footerphone svg {
        height: 1.25em;
    }

    .footerphone > div:nth-child(2) {
        justify-self: flex-end;
        text-align: right;
    }
    .footerphone > div:nth-child(2) > div {
        display: flex;
        gap: 0.5em;
    }
    .footerphone > div:nth-child(3),
    .footerphone > div:nth-child(4){
        text-align: center;
    }

    .footerphone > div:nth-child(5) {
        display: flex;
        justify-content: space-between;
        /* nech zabera 2 miesta */
        grid-column-end: span 2;
        padding: 0 0.5em;
    }

}