header {
    height: 4em;
    width: 100vw;
    background: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: fixed;
    top: 0;
    z-index: 10;
}

.napisy > * {
    padding: 0 1em;
}

.napisy > *:hover {
    color: var(--color7);
}

.obrazok {
    width: 2em;
    height: 2em;
    padding: 0 1em;
    z-index: 11;
}

