.kontakt {
    width: 100%;
    background-color: var(--color2);
    padding: 2em;
    margin-top: 4em;
    min-height: calc(100vh - 4em);
}

.kontaktHome .kontakt {
    margin-top: 0;
    min-height: 1px;
}

.kontaktHome .kontakt h2,
.kontaktHome .kontakt h4 {
    text-align: center;
}

.kontakt .wraplinky {
    /*

    padding-top: 6em;
     */
}

.kontaktHome .kontakt .wraplinky {
    padding-top: 0;
}

.kontakt .linky {
    padding: 2em 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.kontakt .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    border: 2px solid white;
    width: max-content;
    padding: 1em;
    border-radius: 1em;
}

.kontakt .link img {
    width: 2.75em;
    height: 2.75em;
}

.kontakt .pismenka {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.kontakt .pismenka p:first-child {
    font-size: 1.5em;
}

@media only screen and (max-width: 900px) {
    .kontakt .linky {
        padding: 1em 0 0 0 !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1em;
    }

    .kontakt .linky a {
        width: 100%;
    }

    .kontakt .pismenka p:first-child {
        font-size: 1.25em !important;
    }
}