.odpisy {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.odpisy input {
    height: 3em;
    width: 16em;
    padding: 1em 1.5em;
}
.odpisy button,
.odpisy input[type=month] {
    cursor: pointer;
    width: 16em;
}

.odpisy input:invalid {
    border-color: #ff2f1a;
    color: #ff2f1a;
}

.odpisy table {
    border-collapse: collapse;
}
.odpisy td,
.odpisy tr {
    border: 1px solid white;
}

.odpisyinputy,
.odpisyvysledky {
    padding: 1em;
}
.odpisyinputy > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5em;
}

.odpisyinputy > div p {
    padding-bottom: 0.5em;
}

.odpisyvysledky td {
    padding: 1em;
}

.odpisypomockaskupiny td {
    padding: 1em;
    background: var(--color3);
}

.odpisypomockaskupiny tbody td:last-child {
    cursor: pointer;
}
.odpisypomockaskupiny tbody td:last-child:hover {
    background-color: var(--color4)
}
.odpisypomockaskupiny li {
    margin-left: 1em;
}

.odpisypomockaskupiny a {
    cursor: pointer;
    user-select: none;
}
.odpisypomockaskupiny a:hover {
    color: var(--color7);
}



/* zmeny farby ikonky kalendara */
.odpisy input[type="month"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

