

.pagenotfound h3 {
    padding-bottom: 1em;
}
.pagenotfound p {
    font-size: 1.125em;
    padding: 0.125em 0;
}

.pagenotfoundlink {
    text-decoration: underline;
}
.pagenotfoundlink:hover,
.pagenotfoundlink:hover *{
    color: var(--color5);
}
