.carousel {
    width: 100vw;
    height: calc(100vh - 4em);
    background: var(--color7);
    background-image: linear-gradient(to right, rgba(0,0,0, 0), rgba(0,0,0, 0.125));
}

.carousel h2 {
    color: var(--color1);
    padding-bottom: 0.25em;
}

.carousel p {
    color: var(--color1);
    font-size: 1.3em;
}

.carousel-items {
    display: flex;
    height: calc(100vh - 4em - 4em);
}

.carousel-item {
    width: 100vw;
    flex-shrink: 0;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.carousel-item h2 {
    text-align: left;
}

.carousel-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.carousel-image {
    justify-self: right;
    height: calc(100vh - 4em - 4em - 2em - 2em);
    padding: 2em;
    padding-right: 4em;
}
.carousel-image img {
    height: 100%;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16em;
    height: 4em;
}

.carousel-navigation button {
    background: none;
    border: none;
    transition-duration: 0.1s;
}
.carousel-navigation button:hover {
    transform: scale(120%);
}
.carousel-navigation button:active {
    transform: scale(140%);
}

.carousel-bodky {
    display: flex;
    gap: 1em;
}

/* posunutie penazi doprava*/
.carousel-item:nth-child(3) img {
    position: relative;
    left: 4em;
}
