.warning {
    font-size: 1.2em;
    color: #f22;
    text-decoration: underline;
}
.warning:after {
    content: "!";
}

.underline {
    text-decoration: underline;
}

.zvyraznit {
    color: var(--color7);
    font-size: 1.2em;
}

.schodisko-item {
    margin: 2em 1em;
}

.schodisko-item > div {
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0.25em;
    height: 1.5em;
}

button, input {
    color: var(--color6);
    border-color: var(--color6);
}

input {
    width: max-content;
    background: none;
    padding: 0.5em;
    border: 2px solid var(--color6);
    border-radius: 0.5em;
}

select{
    color: var(--color6);
    background-color: var(--color2);
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.5em;
}

select *{
    color: var(--color6);
    background-color: var(--color3);
}
