.spatna {
    background-color: var(--color2);
    padding: 1.5em 2em;
}
.spatna a {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    transition: 0.1s;
}

.spatna a,
.spatna a svg {
    color: var(--color6);
    fill: var(--color6);
}

.spatna a:hover,
.spatna a:hover svg {
    color: var(--color7);
    fill: var(--color7);
}