* {
    margin: 0;
    padding: 0;
    color: var(--color6);
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s ease 0s;
}

:root {
    --color1: #020408;
    --color2: #15273C;
    --color3: #365475;
    --color4: #5981B1;
    --color5: #98BAE3;
    --color6: #F2F4F8;
    --color7: #F0C011;
    --color8: #F0A511;
    --color9: #AAAAAA;
    --colorWarning: #ff2f1a;
    --colorGood: #5ced73
}

@font-face {
    font-family: "mona-sans";
    src: local("mona-sans"),
        url("../fonts/mona-sans.woff2") format("woff2");
}

@font-face {
    font-family: "helvetica-neue";
    src: local("helvetica-neue"),
        url("../fonts/helvetica-neue.woff2") format("woff2");
}

h1 {font-size: 5em; font-weight: 700; font-family: "mona-sans", sans-serif}
h2 {font-size: 3em; font-family: "helvetica-neue-medium", sans-serif}
h3 {font-size: 1.75em; font-weight: 600; font-family: "helvetica-neue-roman", sans-serif}
h4 {font-size: 1.3em;font-family: "helvetica-neue-roman", sans-serif}
h5 {font-weight: 200}
p {font-family: sans-serif;}

body {
    overflow-x: hidden;
}

/*header fix */
* {
    scroll-margin-top: 4rem;
}
main {
    margin-top: 4em;
    min-height: calc(100vh - 4em);
}

span, i, b, a {
    font-size: inherit;
}

button, input, select, option {
    color: var(--color1);
}

.projekt {
    min-height: calc(100vh - 4em);
    background-color: var(--color2);
    margin-top: 4em;
}

/* disable input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

sub, sup {
    color: inherit;
    font-size: 0.75em;
}

button, #resetbutton {
    background: none;
    padding: 1em 2.5em;
    color: var(--color6);
    border: 2px solid var(--color6);
    border-radius: 0.5em;
}
button:hover, #resetbutton:hover {
    background-color: rgba(0,0,0, 0.125);
}
button:active, #resetbutton:active {
    background-color: rgba(0,0,0, 0.25);
}

button:disabled,
button:disabled:hover,
button:disabled:active{
    color: #777;
    border-color: #777;
    background-color: transparent;
}
#resetbutton {
    width: max-content;
}

table {
    border-collapse: collapse;
}

.vyrazne,
.vyrazne * {
    color: var(--color7);
}

.nevyrazne,
.nevyrazne * {
    color: var(--color9);
}

.pomoc {
    width: 1.5em;
    height: 1.5em;
    padding: 0.75em;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
}
.pomoc:hover {
    background-color: var(--color3);
}
.pomoc:active {
    background-color: var(--color4)
}


.zobrazenieNaMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.95);
    display: none;
    z-index: 25;
    text-align: center;
    padding: 2em;
}

.phone {
    display: none !important;
}
.nophone {
    display: block;
}



@media only screen and (max-width: 900px) {
    .phone {
        display: block;
    }
    .nophone {
        display: none !important;
    }

    .zobrazenieNaMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }
    *:has(.zobrazenieNaMobile) {
        overflow: hidden;
    }
}