.threed {
    margin-top: 4em;
    background-color: var(--color2);
    min-height: calc(100vh - 4em);
}

.threednadpisy {
    padding: 3em 2em;
}

.threedprojekt {
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background: linear-gradient(var(--color1), var(--color2));
    filter: brightness(90%);
}

.threedprojekt:hover {
    filter: brightness(125%);
    transform: scale(101%);
}

.threedprojekt:hover h3 {
    color: var(--color7);
}

.threedprojekt:nth-child(odd) {
    background-image: linear-gradient(to right, var(--color1), var(--color2));
}

.threedprojekt:nth-child(even) {
    background-image: linear-gradient(to left, var(--color1), var(--color2));
    text-align: right;
}

.threedhistoria {
    background-color: var(--color2);
    margin-top: 3em;
}


.threedkalk {
    background-color: var(--color2);
    min-height: 100vh;
    margin-top: 4em;
    padding: 2em 2em 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.threedkalkobsah {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
}

.threedkalk select {
    margin: 0;
    padding: 1em;
}

.threedkalk .smallbutton {
    padding: 0.5em;
    margin-left: 1em;
    width: 2.5em;
    height: 2.5em;
}

.threedkalknadpisy p span {
    color: white;
    cursor: pointer;
}
.threedkalknadpisy p span:hover {
    color: var(--color7);
}
.threedkalkinputy {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.threedkalkinputy > div {
    padding: 2em;
    border: 2px solid white;
    border-radius: 1em;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.threedkalkinput {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-left: 0.5em;
}

.threedkalkinput > div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.threedkalkmodel {
    width: 100%;
    margin-top: -4em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}
.threedkalkmodel img {
    width: 100%;
}


.threedkalkmodel > div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    padding: 0.75em;
}
.threedkalkmodel > div:last-child img {
    height: 2em;
    width: 2em;
}
.threedkalkmodel > div:last-child img:hover {
    transform: scale(110%);
}


.threedmodely {
    background-color: var(--color2);
    min-height: 100vh;
    margin-top: 4em;
    padding: 2em 2em 0 2em;
}

.threedmodelynadpisy p {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.threedpomoc {
    border: 1px solid var(--color9);
    border-radius: 50%;
    padding: 0.25em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.threedpomoc:hover {
    background-color: var(--color3);
}


.threedmodelymodely {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding-top: 2em;
}

.threedmodel {
    border: 1px solid white;
    border-radius: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.threedmodelpismenka {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.threedmodelpismenka > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.threedmodelpismenka img {
    height: 1.5em;
}

.threedmodelpismenka img:hover {
    transform: scale(110%);
}

.threedmodelyafterbutton {
    margin-top: 2em;
    width: max-content;
}

.threedmodelyafterbutton button {
    padding: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.threedmodelyafterbutton img {
    height: 2em;
}


.threedfilamenty {
    background-color: var(--color2);
    min-height: 100vh;
    margin-top: 4em;
    padding: 2em 2em 0 2em;
}

.threedfilamentynadpisy {
    padding-bottom: 1em;
}

.threedfilamentyfilamenty {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
}

.threedfilament {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 12px;
    height: max-content;
}

.threedfilament > div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.threedfilament > div > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.threedfilament > div > div:first-child > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.threedfilament > div > div:first-child > div:last-child p:first-child {
    font-size: 1.125em;
}


.threedfilament img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.threedfilamentyinput {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    margin-left: 0.5em;
}
.threedfilamentyinput > div {
    display: flex;
    gap: 1em;
}

.threedfilamentyinput select {
    margin: 0;
    padding: 1em;
}
.threedfilamentyinput button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.threedfilamentyinput button svg {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    fill: white;
}


.disabledfilament {
    filter: contrast(0.5);
}
.disabledfilament::after {
    content: "Tohto filamentu nie je dostatok pre vytlaÄenie tvojho modelu";
    padding: 0 1em 1em 1em;
}

.threedprusameter,
.prusameterobsah{
    padding: 2em 2em 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5em;
}
.prusameterobsah {
    padding: 0;
}

.prusameterobsah section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.375em;
}
.prusameterobsah section p,
.prusameterobsah section table {
    margin-left: 0.25em;
}

.prusameterobsah td {
    border: 1px solid var(--color6);
    padding: 1em;
}


.prusameterobsah section:nth-child(2) td,
.prusameterobsah section:nth-child(3) td:nth-child(1),
.prusameterobsah section:nth-child(3) td:nth-child(3) {
    text-align: right;
}

.threedprusameter a {
    text-decoration: underline;
}


.threedgaleria {
    background-color: var(--color2);
    min-height: 100vh;
    margin-top: 4em;
    padding: 2em 2em 0 2em;
}



@media only screen and (max-width: 900px) {
    .threedhistoria > div {
        padding: 0 1.5em !important;
    }

    .threedkalk {
        padding: 1em;
    }
    .threedkalkobsah {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }
    .threedkalkinputy > div {
        width: calc(100vw - 2em);
        padding: 1em;
    }
    .threedkalkinput > div {
        flex-direction: column;
        align-items: flex-start;
    }
    .threedkalk .smallbutton {
        margin-left: 0.375em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .threedkalkinputy > div:has(h3 span) {
        text-align: center;
    }
    .threedkalkmodel {
        margin-top: 0;
    }


    .threedmodelymodely {
        display: flex;
        flex-direction: column;
    }


    .threedfilamentyinput {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }

    .threedfilamentyfilamenty {
        display: flex;
        flex-direction: column;
    }


}