.vystuzvysledky section {
    padding: 1em 0.5em;
}
.vystuzvysledky section > div {
    padding: 0.5em 1em;
}
.vystuzvysledky section > div div {
    padding: 0.25em 0.5em;
}

.vystuzvysledky p:has(span) {
    font-size: 1.25em;
    padding: 0.25em 0;
}

.tabulecka td {
    padding: 1em;
    border: 1px solid white;
}
.tabulecka td.selectable {
    user-select: none;
    cursor: pointer;
}
.tabulecka td.selectable:hover {
    background-color: rgba(0,0,0, 0.125);
}

.tabulecka td.nevyrazne {
    cursor: not-allowed;
    background-color: rgba(0,0,0, 0.125);
}