.zatazenie {
    padding: 2em 2em 0 2em;
}

.zatazenieinputy {
    padding: 1em 0;
}

.zatazenieinputy button {
    background-color: rgba(0,0,0, 0.125);
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.zatazenieinputy button:hover {
    transform: scale(105%);
}
.zatazenieinputy button:active {
    background-color: rgba(0,0,0, 0.25);
}
.zatazenieinputy img {
    width: 3em;
    height: 3em;
    padding: 0;
}

.zatazenieinputy select {
    width: 16em;
}

.zatazenieinputy > div:first-child {
    display: flex;
    gap: 1em;
}

.zatazenievysledky {
    padding: 1em 0;
}

.zatazenievysledky table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.zatazenievysledky td {
    border: 1px solid white;
}
.zatazenievysledky thead td {
    text-align: center;
    padding: 0.5em 2em;
}
.zatazenievysledky thead td > div {
    margin: 0.5em;
}

.zatazenievysledky tbody input {
    border: none;
    border-radius: 0;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.05);
}
.zatazenievysledky tbody tr:not(.zatazenienovyriadok) td {
    padding: 1em;
}
.zatazenienovyriadok td:last-child:hover {
    background-color: rgba(0,0,0, 0.125);
}

.zatazenievysledky tfoot td {
    padding: 1em;
}



.zatazenievysledky .nazov {
    font-size: 1.125em;
}
.zatazenievysledky .vyrazne,
.zatazenievysledky .vyrazne * {
    color: var(--color7);
}
.zatazenievysledky .nevyrazne,
.zatazenievysledky .nevyrazne * {
    color: var(--color9);
}

.zatazenie .afterfooter {
    padding-top: 0.5em;
}


.zatazeniedelete {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;
    height: 100%;
}
.zatazeniedelete:hover {
    background-color: rgba(0,0,0, 0.125);
}
.zatazeniedelete svg {
    fill: white;
    transition: none;
}
.zatazeniedelete:hover svg {
    fill: var(--colorWarning);
}

.zatazeniedownload {
    background-color: var(--color2);
    padding: 2em 2em 0 2em;
}
.zatazeniedownload a {
    cursor: pointer;
}
.zatazeniedownload a:hover {
    color: var(--color8);
}

.zatazeniemobil {
    display: none;

}
.zatazeniemobil * {
    display: none
}


@media only screen and (max-width: 1500px) {
    .zatazenie {
        display: none;
    }

    .zatazeniemobil {
        display: flex !important;
        flex-direction: column;
        gap: 0.75em;
        padding: 6em 1em 1em 1em;
        background-color: var(--color2);
        min-height: 75vh;
    }
    .zatazeniemobil * {
        display: block !important;
    }
}
